<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This code is distributed under The GNU Lesser General Public License (LGPLv3)
  ~ Please visit GNU site for LGPLv3 http://www.gnu.org/copyleft/lesser.html
  ~
  ~ Copyright Denis Pavlov 2009
  ~ Web: http://www.inspire-software.com
  ~ SVN: https://geda-genericdto.svn.sourceforge.net/svnroot/geda-genericdto
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    

</beans>