<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This code is distributed under The GNU Lesser General Public License (LGPLv3)
  ~ Please visit GNU site for LGPLv3 http://www.gnu.org/copyleft/lesser.html
  ~
  ~ Copyright Denis Pavlov 2009
  ~ Web: http://www.genericdtoassembler.org
  ~ SVN: https://svn.code.sf.net/p/geda-genericdto/code/trunk/
  ~ SVN (mirror): http://geda-genericdto.googlecode.com/svn/trunk/
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:geda="http://www.genericdtoassembler.org/schema"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.genericdtoassembler.org/schema
                           http://www.genericdtoassembler.org/schema/geda-spring-integration-annotation-3.1.0.xsd">

    <geda:annotation-driven dto-factory="dtoFactory" use-bean-preprocessor="false"/>

    <bean id="dtoFactory" class="com.inspiresoftware.lib.dto.geda.impl.DTOFactoryImpl">
        <constructor-arg>
            <map>
                <entry key="entityKey" value="com.inspiresoftware.lib.dto.geda.test.impl.DomainObjectImpl"/>
                <entry key="annDtoKey"    value="com.inspiresoftware.lib.dto.geda.test.impl.AnnotatedExtendedDataTransferObjectImpl"/>
                <entry key="annFilterKey" value="com.inspiresoftware.lib.dto.geda.test.impl.AnnotatedDataTransferObjectImpl"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="annSimpleTransferableService"
          class="com.inspiresoftware.lib.dto.geda.test.impl.AnnotatedTestServiceImpl"/>

</beans>